<table>
  <tr>
    <th><%= t('simple_form.labels.title') %></th>
    <th><%= t('simple_form.labels.description') %></th>
    <th><%= t('simple_form.labels.location') %></th>
    <th><%= t('simple_form.labels.user_id') %></th>
    <th><%= t('simple_form.labels.start_time') %></th>
    <th><%= t('simple_form.labels.end_time') %></th>
    <th><%= t('simple_form.labels.organizer_email') %></th>
    <th><%= t('simple_form.labels.organizer_telegram') %></th>
    <th><%= t('simple_form.labels.link') %></th>
    <th><%= t('simple_form.labels.state') %></th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, admin_event_path(event) %></td>
      <td><%= event.description %></td>
      <td><%= event.location %></td>
      <td><%= event.user_id%></td>
      <td><%= event.start_time %></td>
      <td><%= event.end_time %></td>
      <td><%= event.organizer_email %></td>
      <td><%= event.organizer_telegram %></td>
      <td><%= link_to event.link, event.link %></td>
      <td><%= event.state %></td>
      <td><%= link_to t('events.button.show'), admin_event_path(event) %></td>
      <td><%= link_to t('events.button.edit'), edit_admin_event_path(event) %></td>
      <td><%= button_to t('events.button.delete'), admin_event_path(event),
              method: :delete%></td>
      <td><%= button_to t('events.button.approve'), approve_admin_event_path(event), method: :put %></td>
      <td><%= button_to t('events.button.decline'), decline_admin_event_path(event), method: :put %></td>
    </tr>
  <% end %>
</table>