<h1><%= t('events.header.all') %></h1>
<%= link_to t('events.button.new'), new_event_path %>

<table>
  <tr>
    <th><%= t('simple_form.labels.title') %></th>
    <th><%= t('simple_form.labels.description') %></th>
    <th><%= t('simple_form.labels.location') %></th>
    <th><%= t('simple_form.labels.start_time') %></th>
    <th><%= t('simple_form.labels.end_time') %></th>
    <th><%= t('simple_form.labels.organizer_email') %></th>
    <th><%= t('simple_form.labels.organizer_telegram') %></th>
    <th><%= t('simple_form.labels.link') %></th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, event_path(event) %></td>
      <td><%= event.description %></td>
      <td><%= event.location %></td>
      <td><%= event.start_time %></td>
      <td><%= event.end_time %></td>
      <td><%= event.organizer_email %></td>
      <td><%= event.organizer_telegram %></td>
      <td><%= link_to event.link, event.link %></td>
      <td><%= link_to t('events.button.show'), event_path(event) %></td>
      <td><%= link_to t('events.button.edit'), edit_event_path(event) %></td>
      <td><%= button_to t('events.button.delete'), event_path(event),
              method: :delete%></td>
    </tr>
  <% end %>
</table>
<%= paginate @events %>