<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.starttime %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.endtime %>
</p>

<p>
  <strong>Organizer Email:</strong>
  <%= @event.organizeremail %>
</p>

<p>
  <strong>Organizer Telegram:</strong>
  <%= @event.organizertelegram %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> 
<%= link_to 'Back', events_path %>