<p><%= t('users.header.email_changed', email: @email)%></p>

<p><%= t('users.body.reset_password.someone_request')%></p>

<p><%= link_to t('users.button.password_change'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('users.body.reset_password.if_not_you')%></p>
<p><%= t('users.body.reset_password.password_wont_change')%></p>
